
  <div class="flex flex-col  . justify-between  align-center md:flex-row md:space-x-8 ">
  
    <div class=" md:w-1/2">
        <img src="https://cdn.pixabay.com/photo/2023/05/01/17/34/data-7963502_1280.png" alt="">
    </div>
    <div class="flex flex-col space-y-4 p-16 align-center justify-center  md:w-1/2">
      <h1>Welcome to my Todo List</h1>
      <p>You are a Task away from the last one </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde aperiam possimus quaerat ducimus, eveniet error sapiente voluptatem culpa ullam dicta architecto reiciendis itaque praesentium temporibus consequuntur dolorem illo laboriosam nulla!</p>
      <button class="rounded bg-background text-white px-4 py-2 md:w-1/4 "> Get Started</button>
    </div>
  
  </div>